#container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    padding: 50px;
}
#outputSecttion{
    padding-left: 10px;
}
li{
    height: 100px;
    width: 98%;
    background-color: beige;
    margin: 10px;
    border-radius: 20px;
    padding-top: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-type: none;

}